.food_item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    transition: fadeIn 0.3s;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
}

.food_item_image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
} 

.food_item_info {
    padding: 18px;
}

.food_item_rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food_item_rating p {
    font-size: 20px;
    font-weight: 700;
}

.food_item_rating  img {
    width: 70px;
}

.food_item_desc  {
    font-size: 13px;
    color: #676767;
}

.food_item_price {
    color: tomato;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0px;
}


.food_item_image_container {
    position: relative;
}

.food_item_image_container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}

.food_item_counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}