.footer {
    color: #fff;
    background-color: #123232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer_content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
;
}

.footer_content_left li,  .footer_content_right li, .footer_content_center li {
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
} 



.footer_content_right h2, .footer_content_center h2 {
   color: white;
}

.footer_social_icons img{
    width: 40px;
    margin-right: 15px;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 29px 0px;
    color: gray;
}

@media screen and (max-width: 750px) {
    .footer_content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer_copyright {
        text-align: center;
    }
    
}