.header {
    height: 34vw;
    margin: 30px auto;
    background: url('https://res.cloudinary.com/dtu2furcy/image/upload/v1723626387/header_img_un4kuy.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header_content h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header_content button {
    border: none;
    color: #474747;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}


@media screen and (max-width: 1050px) {
    .header {
        height: 38vw;
    }
    .header_content {
        max-width: 45%;
    }
}


@media screen and (max-width: 750px) {
 
    .header_content {
        max-width: 65%;
    }

    .header_content p{
        display: none;
    }

.header_content button {
    padding: 2vw 4vw;
}

}
