.header {
    height: 34vw;
    margin: 30px auto;
    background: url('https://res.cloudinary.com/dtu2furcy/image/upload/v1723626387/header_img_un4kuy.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
}

.headeer_content h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}